# Name: MultipleProfilePeaks
# Author: Alejandro Adam
# Version: 1.0
# Date: 2015/09/02

Analyze>BorderAnalysis, "Obtain profile peaks", BorderAnalysis("peaks")
Analyze>BorderAnalysis, "Find edges in image", BorderAnalysis("edges")
Analyze>BorderAnalysis, "Find threshold", BorderAnalysis("threshold")
Analyze>BorderAnalysis, "About BorderAnalysis", BorderAnalysis("about")